# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Node
node_modules/
next-env.d.ts
dist/
*.tgz

# Build output
.next/
.source/
.vercel/

# Lock files from other package managers
package-lock.json
yarn.lock

# Environment
.env
.env.local
